:root{
    --primary-color: #111111;
    --secondary-color: #666;
    --accent-color: #2563EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--primary-color)
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(247, 246, 246);
}

#wrapper{
    margin: 5rem auto;
    padding: 2rem;
    width: 75vh;
    height: fit-content;
    border: .5rem solid white;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

header{
    text-align: center;
    padding-bottom: 2rem;
}

header h1{
    padding-bottom: .5rem;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

section{
    padding: 1rem 0;
    margin: 1rem 0;
}

h2{
    color: var(--accent-color);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
}

p{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.6;
}

hr{
    opacity: 0.25;
}

ul li::marker{
    color: var(--accent-color);
    font-size: 1.2rem;
}

ul{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#workingOn p{
    margin-left: 1rem;
}

#buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

button{
    background-color: white; /* Green background */
    border: 2px solid lightgray; /* Remove default border */
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.3s;
}

button:hover{
    transform: translateY(-.5rem);
}

#youTubeButton{
    padding: .5rem 2rem;
}

#gitHubButton{
    padding: 0.01rem 1.7rem;
}